<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../static/css/admin_movie_upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="body">
<!-- 메뉴와 화면 정렬을 위한 div  -->
        <div class="menu">
<!-- ========================== 관리자 메뉴 ================================= -->
            <a href="main.html">
                <div>홈페이지로 돌아가기</div>
            </a>
            <a href="admin_Main.html">
                <div>메인 화면</div>
            </a>
            <a href="admin_member_list.html">
                <div>회원 관리</div>
            </a>
            <a href="admin_movie_list.html">
                <div>영화 관리</div>
            </a>
            <a href="#">
                <div>여기에 뭐 넣어요?</div>
            </a>
        </div>

<!-- ========================== 영화 업로드 영역 ================================= -->
        <div class="upload_body">
            <form action="" class="form">

                <label for="" class="label">
                    <div>제목: </div>
                    <div>
                        <input type="text" name="" id="" required>
                    </div> 
                </label>


                <label for="">
                    <div>감독: </div>
                    <div>
                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>배우: </div>
                    <div>
                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>장르:</div>
                    <div>

                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>시간:</div>
                    <div>

                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>스틸컷: </div>
                    <div>

                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>포스터: </div>
                    <div>

                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>줄거리:</div>
                    <div>
                        <input type="text" name="" id="" required>

                    </div>
                </label>

                <label for="">
                    <div>시청등급:</div>
                    <div>

                        <input type="text" name="" id="" required>
                    </div>
                </label>

                <label for="">
                    <div>제작년도: </div>
                    <div>
                        <input type="text" name="" id="" required>

                    </div>
                </label>

                <label for="">
                    <div>영상 올리기</div>
                    <div>
                        <input type="file" name="" id="" required>

                    </div>
                </label>
                <!-- <button>영상올리기(파일업로드)</button> -->

                <input type="submit" name="" id="upload" value="업로드" class="submit" >

            </form>

        </div>

    </div>
</body>

</html>