<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항&문의사항</title>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/notice.css">
</head>
<body>
    <header>
        <!-- 헤더 오른쪽 -->
        <div class="header_right">
            <div class="logo_img">
                <!-- 로고 이미지 -->
                <a href="main.html"><img src="http://placehold.it/70X70" alt=""></a>
            </div>
        </div>
        <!-- 검색창 -->
        <div class="search">
            <form action="">
                <input type="text" name="" id="" class="search_input" placeholder="오늘은 무슨 영화를 볼까?">
                <button class="search_btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass-arrow-right fa-3x " ></i>
                </button>
            </form>
        </div>
        <!-- 헤더 왼쪽 -->
        <div class="header_left">
    
            <div class="profile">
                <!-- 동그라미 프로필 공간 -->
            </div>
            <div class="profile_menu">
                <ul>
                    <a href="mypage.html"><li>마이페이지</li></a>
                    <a href="notice.html"><li>공지사항</li></a>
                    <a href="main.html"><li>로그아웃</li></a>
                </ul>
            </div>
                <!-- 추후에 로그인후에 로그아웃으로 바뀌도록 작성 -->
        </div> 
    </header>
    <!--  ========================== header =================================  -->
    <!-- =========================== 공지사항 ================================ -->
    <div class="notice">
    <!-- 공지 사항 내용 -->
        <div class="notice_div">
            <ul>
                <li>글번호</li>
                <li>글 내용</li>
                <li>작성 시간</li>
            </ul>
        </div>
        <!-- 공지사항 리스트 -->
        <div class="notice_list">
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
            <ul>
                <li>
                    1
                </li>
                <li>
                    <a href="post_view.html">공지사항 1</a>
                </li>
                <li>
                    2024-06-24
                </li>
            </ul>
        </div>
    </div>
    <!--  ======================== 리스트 페이지 번호 ================================ -->
    <div class="page_no">
        <ul class="page_no_ul">
            <li><a href="">&lt;</a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">9</a></li>
            <li><a href="">10</a></li>
            <li><a href="">&gt;</a></li>
        </ul>
    </div>
    <!-- ========================= 글 검색, 글쓰기 버튼 -->
    <div class="search_write">
        <!-- 글 검색 -->
        <div class="botom_search">
            <form action="">
                <input type="text" name="" id="" class="bottom_search_text">
                <input type="submit" name="" id="" value="검색">
            </form>
        </div>
        <!-- 글쓰기 버튼 -->
        <div class="botom_write">
            <button type="button" class="write_btn" onclick=>글쓰기</button>
        </div>
    </div>



</header>
</body>
</html>