<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>랭킹 페이지</title>
  <link rel="stylesheet" href="../static/css/ranking.css" type="text/css">
</head>
<body>
  <!-- 헤더 구간 -->
  <header>
    <h1>헤더</h1>  
  </header>
  <!-- 본문 구간 -->
  <main>
    <div class="ranking-title">
      <h4>오늘의 '박플레이어' 랭킹</h4>
    </div>
    <div class="rnk">
      <!-- 기본 메뉴 -->
      <ul class="rnk_title">
        <li>No.</li>
        <li>Name</li>
        <li>Value</li>
      </ul>
      <!-- 리스트 -->
      <ul>
        <li>1</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>2</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>3</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>4</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>5</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>6</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>7</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>8</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>9</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
      <ul>
        <li>10</li>
        <li>제목</li>
        <li>기타</li>
      </ul>
    </div>
  </main>
  
  <!-- 푸터 구간 -->
  <footer>
    <h1>푸터</h1>
  </footer>
</body>
</html>