<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>슬라이드 실험 페이지</title>
    <link rel="stylesheet" href="../static/css/test_version.css">
</head>
<body>
    <div class="slide">
        <div class="btn prev">
            <button class="prev">prev</button>
        </div>
        <div class="slide_page">
            <ul class="slide_ul">
                <li><a href="#"><img src="../static/img/dune.jpg" alt="" class="img_slide"></a></li>
                <li><a href="#"><img src="../static/img/half-life-3-pc-game-cover.jpg" alt="" class="img_slide"></a></li>
                <li><a href="#"><img src="../static/img/harry.webp" alt="" class="img_slide"></a></li>
                <li><a href="#"><img src="../static/img/home.png" alt="" class="img_slide"></a></li>
            </ul>
        </div>
        <div class="btn next">
            <button class="next">next</button>
        </div>
        <div class="ranking_no"></div>
    </div>

    <br>
    <br>
    <div>

    </div>

    <script src="../static/js/test_version.js"></script>
</body>
</html>