<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/test_version2.css">
</head>
<body>
    <div class="tab_wrapper">
        <div class="tab-nemu">
            <ul class="tab-menu-ul">
                <li><a href="#tabs-1">스틸컷</a></li>
                <li><a href="#tabs-2">리뷰</a></li>
                <li><a href="#tabs-3">예고편</a></li>
            </ul>
        </div>
        
        <div class="tab-content">
            <div class="stillcut" id="tabs-1">
                <ul class="stillcut_ul">
                    <li><img src="../static/img/dune.jpg" alt=""></li>
                    <li><img src="../static/img/half-life-3-pc-game-cover.jpg" alt=""></li>
                    <li><img src="../static/img/harry.webp" alt=""></li>
                </ul>
            </div>
            <div class="review" id="tabs-2">
                <ul class="review_ul">
                    <li class="review_writer">jj</li>
                    <li class="review_content">Best of all continuous movies. I love it.</li>
                    <li class="review_time">24-06-18</li>
                    <li class="review_star">4.5/5</li>
                </ul>
                <ul class="review_ul">
                    <li class="review_writer">jmoda</li>
                    <li class="review_content">I already tried that one, and didn't work that much.</li>
                    <li class="review_time">24-06-18</li>
                    <li class="review_star">5/5</li>
                </ul>
                <ul class="review_ul">
                    <li class="review_writer">difs</li>
                    <li class="review_content">The complete Middle-Earth Saga:</li>
                    <li class="review_time">24-06-18</li>
                    <li class="review_star">4/5</li>
                </ul>
                <ul class="review_ul">
                    <li class="review_writer">jj</li>
                    <li class="review_content">this movie is sick put that crazy ugly little guy creeps me out then i start laughing at its face</li>
                    <li class="review_time">24-06-18</li>
                    <li class="review_star">1/5</li>
                </ul>
            </div>
            <div class="trailer-video" id="tabs-3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_bo1XFtQbMs?si=lWfv8lVyn-OtKmty" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        
    </div>
    <script src="../static/js/test_version2.js"></script>
</body>
</html>