html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	font-family: "Noto Sans KR", "Montaga", serif, sans-serif;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
}

.montaga-regular {
    font-family: "Montaga", serif;
    font-style: normal;
}
body{
    width: 1200px;
	/* height: 1000px; */
}

/* ============================ 초기화 ================================= */
/* ============================ body ================================= */
.body{
	width: 100%;
	/* height: 100%; */
	display: flex;
	border: 1px solid black;

}


/* ============================ body ================================= */
/* ============================ menu ================================= */
.menu_div{
	/* border: 1px solid black; */
	width: 20%;
	/* height: 100%; */
	border: 3px double black;
	font-size: 1.2rem;
}
.menu{
    width: 100%;
	height: 100%;


}

a{
	color: #000;
}

.menu_div a div{
	margin-top: 20%;
	margin-bottom: 10%;
	width: 100%;
	height: 10%;
	text-align: center;
	position: relative;
	line-height: 50px;
	font-weight: 600;
	/* overflow: hidden; */
}
.menu_div a div::after{
	
	content: " ";
	width: 100%;
	height: 50px;
	background-color: #000;
	position: absolute;
	transition: 0.3s;
	left: 0;
	/* left: 101% */
	z-index: -1;
	transform: scaleX(0);	




}
.menu_div a:hover ::after{
	transform: scaleX(1);
	/* left: 0; */

}
.menu_div a:hover div{
	color: white;
}

.menu_div a:hover div{
	color: white;
}
/* ============================ menu ================================= */
/* ============================ list_div ================================= */
.list_div{
	width: 80%;
	display: flex;
	flex-direction: column;
}

/* ============================ admin_movie_list ================================= */
.admin_movie_list{
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
	/* border: 1px solid black; */
}
.admin_movie_list div{
	width: 100%;
}
.content li{
	text-align: center;
}

.list{
	display: flex;
	width: 100%;
	border-bottom: 1px dashed rgb(158, 158, 158);
}

.list li{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	/* border-bottom: 1px solid black; */
	border-right: 1px solid rgb(158, 158, 158);
	line-height: 30px;
	}

.end{
	border-bottom: none;
}
.list li:first-child{
	margin-left: 0px;
}
.list li:last-child{
	border-right: none;
}
.checkbox{
	width: 5%;
	text-align: center;
}
.list:nth-child(2n){
	background-color: #d8d8d8;
}

.list:hover{
	/* .list:nth-child(2n)보다 아래 있어야 함 */
	background-color: #9efaf2;
}
.list.content{
	background: none;
}

/* 세부 요소 */
.movie_id{
	width: 10%;
}
.movie_title{
	width: 40%;
}
.movie_genre{
	width: 15%;
}
.movie_director{
	width: 15%;
}
.movie_time{
	width: 10%;
}

/* ============================ admin_movie_list ================================= */
/* ============================= 리스트 페이지 ===================================== */
.list_number_ul{
	display: flex;
}
.list_number_ul li{
	width: 30px;
	text-align: center;
	border-right: 1px solid rgb(158, 158, 158);
}

.list_number_ul li:last-child{
	border-right: none;
}

/* ============================= 영화 검색 ===================================== */

.admmin_movie_search_div{
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	/* border: 1px solid black; */
}

/* 검색 구역 */
.search_form{
	width: 70%;
	text-align: right;
	/* border: 1px solid black; */
}

/* 검색 */
.search_form form input[type="text"]{
	width: 55%;
}




/* 추가 삭제 버튼 */
.edit_btn{
	width: 20%;
	/* border: 1px solid black; */
	text-align: center;
}








