html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	font-family: "Noto Sans KR", "Montaga", serif, sans-serif;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
}

.montaga-regular {
    font-family: "Montaga", serif;
    font-style: normal;
}
body{
    width: 1200px;
	/* height: 1000px; */
}

/* ============================ 초기화 ================================= */
/* ============================ body ================================= */
.body{
	width: 100%;
	/* height: 100%; */
	display: flex;
	border: 1px solid black;

}


/* ============================ body ================================= */
/* ============================ menu ================================= */
.menu_div{
	/* border: 1px solid black; */
	width: 20%;
	/* height: 100%; */
	border: 3px double black;
	font-size: 1.2rem;
}
.menu{
    width: 100%;
	height: 100%;


}

a{
	color: #000;
}

.menu_div a div{
	margin-top: 20%;
	margin-bottom: 10%;
	width: 100%;
	height: 10%;
	text-align: center;
	position: relative;
	line-height: 50px;
	font-weight: 600;
	/* overflow: hidden; */
}
.menu_div a div::after{
	
	content: " ";
	width: 239px;
	height: 50px;
	background-color: #000;
	position: absolute;
	transition: 0.3s;
	left: 0;
	/* left: 101% */
	z-index: -1;
	transform: scaleX(0);	

}

.menu_div a:hover ::after{
	transform: scaleX(1);
	/* left: 0; */

}
.menu_div a:hover div{
	color: white;
}

.menu_div a:hover div{
	color: white;
}


/* ============================ menu ================================= */
/* ============================ 그래프 영역 ================================= */
.main{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.main div{
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    /* margin-top: 10px; */
}



.graph02_div{
    border-top: 1px solid black;
    margin-bottom: 10px;
}

img{
    width: 400px;
    margin-top: 10px;
}
figure{
    margin-bottom: 10px;
}

figcaption{
    text-align: center;
}


/* ============================ 공지사항 영역 ================================= */
.admin_notice_div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.admin_notice_haed{
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid red; */
}
.admin_notice_haed h2{
    font-size: 2rem;
}
.notice_link span{
    width: 100%;
    padding-right: 10px;
    text-align: right;
    font-size: 0.8rem;
}

/* 공지사항 리스트 */
.admin_notice_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.admin_notice_list_ul{
    width: 90%;
    display: flex;
    text-align: center;
    border-bottom: 1px dashed rgb(158, 158, 158);
}




li a{
    display: block;
}

.admin_notice_list_ul li{
    line-height: 30px;
    border-right: 1px solid rgb(158, 158, 158);
    margin-top: 10px;
	margin-bottom: 10px;
}

.admin_notice_list_ul li:first-child{
    width: 10%;
}
.admin_notice_list_ul li:nth-child(2){
    width: 70%;
}
.admin_notice_list_ul li:last-child{
    width: 20%;
    border-right: none;
    
}

.admin_notice_list .admin_notice_list_ul:last-child{
    border-bottom: none;
}


















