@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans KR", "Montaga", serif, sans-serif;
    box-sizing: border-box;
    /* font-size: 1.2rem; */
    color: #fff;
}

.montaga-regular {
    font-family: "Montaga", serif;
    font-style: normal;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
}
body{
    width: 1200px;
    font-size: 1.2rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 100%);
}

/* ========================= css 초기화  =============================  */
/* ========================= header ========================== */
header{
    width: 1200px;
    height: 100px;
    display: flex;
    /* border: 1px solid rgb(255, 255, 255); */
    margin-top: 10px;;
    
}
/* header 왼쪽 */
.header_right{
    width: 15%;
    display: flex;
    position: relative;
}
.logo_img{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px );
}

.movie_btn a div{
    padding-top: 25px;
}
/* 검색창  */
.search{
    width: 70%;
    text-align: center;
    /* border: 1px solid rgb(255, 255, 255); */
}
.search form{
    /* display: flex; */
    position: relative;
    height: 100%;
    
}
.search_input{
    width: 80%;    
    height: 30px;
    position: relative;
    top: calc( 50% - 25px);

    outline: none;
    transition: 0.3s;
    border: none;
}

.search_input:focus{
    box-shadow: 0px 0px 30px rgb(129, 240, 255);
    
}

.search_input::placeholder{
    text-align: center;
}
/* 검색 버튼 */
.search_btn{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 30px);
    right: calc(20px);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    /* border: 1px solid red; */
}

.search_btn i{
    color: #74C0FC;

}
.search_btn:hover .search_btn i{
    --fa-bounce-land-scale-x: 1.2;
    --fa-bounce-land-scale-y: .8;
    --fa-bounce-rebound: 5px;
}
/* header 오른쪽 */
.header_left{
    width: 15%;
    display: flex;
    /* border: 1px solid rgb(255, 255, 255); */
    /* z-index: 0; */
    position: relative;
    /* overflow: hidden; */
}

.profile{
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    /* position: relative; */
    position: absolute;
    transition: 0.3s;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    /* z-index: 2; */
}

.profile a{
    /* 추후에 로그인 기능 완성시 지울것 */
    display: block;
    color: black;
}


.profile_menu{
    width: 120px;
    text-align: center;
    border: 1px solid #fff;
    position: absolute;
    transition: 0.3s;
    left: calc(50% + 80px);
    top: calc(50% + 20px);
    background-color: #000;

    /* margin: 10px; */
    transition: 0.3s;
    /* z-index: 1; */
    
}
.profile_menu ul a{
    width: 100%;
    /* height: 100%; */
}
.profile_menu ul a li{
    width: 100%;
    /* height: 100%; */
    margin-top: 10px;
    margin-bottom: 10px;
}


.profile_menu ul a li:hover{
    background-color: #fff;
    color:#000
}





/* ========================= header  =============================  */
/* ========================= 영화 랭킹 ========================= */
.ranking{
    width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slide{
    z-index: 0;
    position: relative;
}
.img_slide{
    width: 1200px;
    height: 400px;

}
.slide_page{
    overflow: hidden;
    /* z-index: -1; */
}

.slide_ul{
    display: flex;
}
.btn{
    /* z-index: 1; */
    position: absolute;
}

/* 버튼 css */
.next, .prev{
    border-style: none;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    background-color: rgba(0, 187, 255, 0.2);
}



/* 버튼 hover시 색 변경 */
.next:hover, .prev:hover{
    background-color: #22c0ff;
}
.next{
    right: 0;
    top: calc(50% - 35px);
}

.prev{
    left: 0;
    top: calc(50% - 35px);
}

/* 순위 출력  */
.ranking_no{
    text-align: center;
    position: absolute;
    left: calc(0%);
    bottom: calc(5%);
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    line-height: 35px;
    /* border: 1px solid white; */
    background-color: rgba(179, 179, 179, 0.7);
}

/* 영화 설명 css */
figure{
    position: relative;
}
figcaption{
    width: 500px;
    height: 300px;
    position: absolute;
    left: calc(110px);
    top: calc(10%);
    /* border: 1px solid black; */
    background-color: rgba(179, 179, 179, 0.7);
    padding: 10px;

}
.movie_title{
    font-size: 2rem;
    text-align: center;
}
.movie_content, .movie_genre, .movie_time{
    font-size: 1.2rem;
}


/* ========================= 영화 랭킹  =============================  */
/* ========================= 평점 추천 =========================== */
.recommend{
    width: 1200px;
    /* border: 1px solid rgb(255, 255, 255); */
    /* height: 500px; */
}
.head{
    width: 100%;
    /* border: 1px solid rgb(255, 255, 255); */
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    
}
.movie_img{
    margin-bottom: 10px;
    
}
.movie_list{
    display: flex;
    
}
.movie_list li{
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}


/* 포스터 제목 css */
.movie_list li a::after{
    content: "반지의 제왕";
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: rgba(0,0,0,0.3);

    position: absolute;
    transition: 0.5s;
    bottom: -40%;
    left: 0%;

}
/* 포스터 hover시 제목 올라오는 효과*/
.movie_list li:hover ::after{
    bottom: 0%;
}

/* 포스터 hover시 포스터가 올라가고 뒤에 그림자 효과 */
.movie_list_poster:hover{
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px rgb(255,255,255);
}

.movie_poster{
    transition: 0.3s;
    transform: scale(1);
}
.movie_poster:hover{
    transform: scale(1);
}
/* ========================= 평점 추천  =============================  */
/* ========================= 시간대별 추천 =========================== */
.time{ 
    position: relative;
}

/* 블러 처리 효과 css */
.time::after{
    content: "댓글이 충분할 때 활성화\a추후에 그래프넣을지 토의";
    white-space: pre;
    text-align: center;
    font-size: 2rem;
    line-height: 100px;
    width: 100%;
    height: 310px;
    background-color: rgba(74, 74, 74, 0.9);

    position: absolute;
    bottom: calc(0%);
    left: calc(0%);
}


/* ========================= 시간대별 추천  =============================  */
/* ========================= footer =========================== */




















