*{
  margin: 0 auto;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  width: 1200px;
  height: 800px;
}
ul,li,ol{
  text-align: center;
  list-style: none;
}
header{
  text-align: center;
  padding: 30px;
  border: 1px solid #282828;
}
footer{
  text-align: center;
  padding: 30px;
  border: 1px solid #282828;
}
ul{
  display: flex;
}
li{
  display: flex;
}
.rnk{
  height: 500px;
  /* border: 1px solid #222; */
}
.rnk_title{
  background-color: aliceblue;
}
.rnk ul li{
  padding: 10px;
}
.ranking-title{
  text-align: left;
  width: 800px;
  height: 50px;
  /* border: 1px solid #222; */
}